@import url(normalize.css);

/*.page {
  background-color: #2a2c2f;
}

.page__container {
  max-width: 1184px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 984px;
  margin: 0 auto 58px auto;
  padding-top: 26px;
}

.logo {
  margin: 0;
  padding: 0;
  width: 190px;
  height: 44px;
}

.header__lang-link {
  margin-right: 10px;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  color: white;
}

.header__lang-link:first-of-type {
  text-decoration: underline;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

.lead {
  max-width: 989px;
  margin: 0 auto 80px auto;
}

.lead__title {
  max-width: 690px;
  margin: 0 auto 32px auto;
  text-align: center;
  padding: 0;
  font-size: 96px;
  line-height: 100px;
  color: #fff;
}

.lead__subtitle {
  max-width: 620px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto 64px auto;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}

.lead__image {
  max-width: 100%;
}

.lead__caption {
  min-height: 14px;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 14px;
  font-weight: normal;
  color: #fff;
}


.intro {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 989px;
  margin-bottom: 80px;
}

.intro__container {
    max-width: 690px;
}

.intro__title {
  max-width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #fff;
  margin: 0 0 40px 0;
  padding: 0;
}

.intro__subtitle {
  margin: 0 0 32px 0;
  padding: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: #fff;
}

.intro__text {
  margin: 0 0 33px 0;
  padding: 0;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro__list-item {
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  max-width: 100%;
  margin-bottom: 80px;
}

.photo-grid__item {
  max-width: 284px;
  max-height: 213px;
}

.places {
  max-width: 984px;
  margin: 0 auto 80px auto;
}

.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right";
  grid-column-gap: 40px;
  max-width: 100%;
  justify-content: center;
  margin-bottom: 81px;
}

.place__title {
  grid-area: top-left;
  max-width: 460px;
  max-height: 152px;
  margin: 0;
  padding: 0;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
}

.place__image {
  grid-area: bottom-left;
  margin-top: 46px;
  max-width: 460px;
  max-height: 460px;
}

.place__website {
  align-self: end;
  grid-area: top-right;
  max-width: 456px;
  max-height: 46px;
}

.place__url-heading {
  grid-area: bottom-right;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  color: #aaaaaa;
}

.place__link {
  display: block;
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration-line: underline;
}

.place__link:hover {
    color: #2a2c2f;
    opacity: 0.3;
    transition-duration: 0.5s
}

.place__paragraphs {
  padding-top: 32px;
  max-width: 484px;
}

.place__paragraph {
  margin: 0 0 16px 0;
  padding: 16px 0 0 0;
  font-size: 18px;
  line-height: 29px;
  color: #fff;
}

.cover__link {
  position: relative;
  min-height: 740px;
  background-image: url(images/cover-route-66.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-decoration: none;
  margin-bottom: 40px;
}

.cover__title {
  position: relative;
  z-index: 1;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0 0 32px 0;
  padding: 0;
}

.cover__link:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 0.5s;
}

.cover__link:hover:after {
  opacity: 0.8;
}

.cover__text {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  max-width: 320px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 100%;
  margin: 0 auto 24px auto;
}

.footer__link {
  margin-right: 26px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
}

.footer__link:last-of-type {
  margin-right: 0;
}

.footer__copyright_content_author {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}


@media screen and (max-width: 1140px) {
.header {
    max-width: 928px;
    margin: 0 auto 50px auto;
  }
}

@media screen and (max-width: 958px) {
  .header {
    max-width: 720px;
    margin: 0 auto 50px auto;
  }

@media screen and (max-width: 425px) {
  
.header {
    display: flex;
    max-width: 288px;
    margin: 0 auto 50px auto;
    padding-top: 20px;
  }
  
  .logo {
    width: 156px;
    height: 36px;
  }
  
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }


@media screen and (max-width: 1140px) {
    .lead {
        max-width: 928px;
        margin: 0 auto 80px auto;
      }
}

@media screen and (max-width: 958px) {
    .lead {
        max-width: 768px;
      }
}

@media screen and (max-width: 425px) {
    .lead {
        max-width: 320px;
        margin: 0 auto 64px auto;
      }
      
      .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
      }
      
      .lead__subtitle {
        max-width: 620px;
        margin: 0 auto 40px auto;
        font-size: 16px;
        line-height: 20px;
      }
      
      .lead__image {
        max-width: 100%;
      }
}


@media screen and (max-width: 1140px) {
    .intro {
        max-width: 928px;
      }
      .intro__list {
        margin: 0;
        padding: 0;
        list-style: none;
      }
}

@media screen and (max-width: 958px) {
    .intro {
        max-width: 720px;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        max-width: 288px;
        margin-bottom: 60px;
      }
      
      .intro__container {
          max-width: 100%;
      }
      
      .intro__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
      }
      
      .intro__subtitle {
        line-height: 30px;
      }
}


@media screen and (max-width: 1140px) {
    .photo-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .photo-grid__item {
        max-width: 300px;
        max-height: 225px;
      }      
}
  
@media screen and (max-width: 958px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(2, 352px);
        grid-template-rows: auto auto;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        justify-content: center;
      }
      
      .photo-grid__item {
        max-width: 352px;
        max-height: 264px;
      }
}
  
@media screen and (max-width: 425px) {
    .photo-grid {
        display: flex;
        max-width: 100%;
        margin-bottom: 64px;
      }
      
      .photo-grid__item {
        max-width: 288px;
        max-height: 216px;
      }
}
  


@media screen and (max-width: 1140px) {
    .places {
        max-width: 928px;
      }
      
      .place {
        display: grid;
        grid-template-columns: 440px 456px;
        grid-column-gap: 32px;
        margin-bottom: 80px;
      }
      
      .place__title {
        max-width: 440px;
      }
      
      .place__image {
        max-width: 440px;
        max-height: 440px;
      }
      
      .place__url-heading {
        line-height: 20px;
      }
      
      .place__paragraphs {
        padding-top: 32px;
        max-width: 456px;
      }
      .place__paragraph {
        margin: 0 0 16px 0;
        padding: 16px 0 0 0;
      }
}

  @media screen and (max-width: 958px) {
    .places {
        max-width: 720px;
        margin: 0 auto 80px auto;
      }
      
      .place {
        grid-template-columns: 340px 352px;
        grid-column-gap: 28px;
        margin-bottom: 146px;
      }
      
      .place__title {
        max-width: 340px;
        max-height: 46px;
        font-size: 42px;
        line-height: 46px;
      }
      
      .place__image {
        margin-top: 42px;
        max-width: 340px;
        max-height: 340px;
      }
      
      .place__website {
        max-width: 352px;
        max-height: 46px;
      }
    
      .place__paragraphs {
        padding-top: 26px;
        max-width: 352px;
      }
      
      .place__paragraph {
        line-height: 26px;
      }
  }
  
  @media screen and (max-width: 425px) {
    .places {
        max-width: 320px;
        margin: 0 auto 80px auto;
      }
      
      .place {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
      }
      
      .place__title {
        max-width: 288px;
        min-height: 35px;
        font-size: 32px;
        line-height: 35px;
      }
      
      .place__image {
        margin-top: 32px;
        max-width: 320px;
        max-height: 320px;
      }
      
      .place__website {
        display: none;
      }
      
      .place__paragraphs {
        padding-top: 12px;
        max-width: 484px;
      }
      
      .place__paragraph {
        font-size: 16px;
        line-height: 26px;
      }
  }


@media screen and (max-width: 1140px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 958px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover__link {
    min-height: 200px;
  }

  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
  .cover__text {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}


@media screen and (max-width: 1140px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 958px) {
    .footer {
        max-width: 720px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        display: block;
        max-width: 320px;
        min-height: 198px;
        
    }

    .footer__links {
        display: flex;
        flex-direction: column;
    }
    .footer__link {
        font-size: 24px;
        line-height: 46px;
    }

    .footer__link:first-of-type {
        margin
    }

    .footer__copyright {
        margin-top: 46px;
    }
    .footer__copyright_content_author {
        font-size: 14px;
        line-height: 14px;
        color: #fff;
    }
}*/