.place__image {
    grid-area: bottom-left;
    margin-top: 46px;
    max-width: 100%;
  }

@media screen and (max-width: 958px) {
    .place__image {
      margin-top: 42px;
    }
}

@media screen and (max-width: 425px) {
    .place__image {
      margin-top: 32px;
    }
}
