@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_lang/header__lang-link_lang_english.css);
@import url(./__lang-link/_lang/header__lang-link_lang_spanish.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__list-item/header__list-item.css);

.header {
    display: flex;
    justify-content: space-between;
    max-width: 984px;
    margin: 0 auto 58px auto;
    padding-top: 26px;
}

@media screen and (max-width: 1140px) {
    .header {
        max-width: 928px;
        margin: 0 auto 50px auto;
    }
}

@media screen and (max-width: 958px) {
    .header {
        max-width: 720px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        max-width: 288px;
        padding-top: 20px;
    }
}
